* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f6f5f4 !important;
  overflow-x: hidden;
}

main {
  margin-top: 68px;
}

h1,
h2,
h3 {
  font-family: "Frank Ruhl Libre", serif;
}

p,
a,
li a,
label,
th,
td {
  font-family: "Montserrat", sans-serif;
  color: #000000 !important;
}

ul li {
  text-decoration: none;
  list-style: none;
}

li a {
  font-size: 1.2rem;
  opacity: 0.6;
}

li a:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

a:checked {
  text-decoration: none;
  color: #000000;
}

i {
  color: black;
}

.primary-btn {
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #737164 !important;
  color: #f6f5f4 !important;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border: solid 1px #737164 !important;
  padding: 10px 30px 10px 30px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
}

.alert {
  margin-bottom: 0 !important;
}

.menu {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.04);
  width: 100%;
  background-color: #f6f5f4 !important;
}

.navbar {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #f6f5f4 !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
}

.active {
  opacity: 1;
}

.navbar-brand {
  font-family: "MuseoModerno", cursive;
  font-weight: 300;
  color: #000000 !important;
  font-size: 2.2rem !important;
  text-shadow: 2px 8px 6px rgba(115, 113, 100, 0.2), 0px -5px 15px rgba(115, 113, 100, 0.3);
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.loginBtn,
.logoutBtn {
  font-size: 1.2rem;
  opacity: 0.6;
}

.logout {
  color: #b65242 !important;
  font-size: 1.2rem;
}

.logout {
  border: none;
  background-color: transparent;
}

.loginBtn:hover,
.logoutBtn:hover {
  opacity: 1;
  cursor: pointer;
}

.feather-home,
.feather-shopping-cart,
.feather-shopping-bag,
.feather-user,
.feather-monitor,
.feather-plus {
  margin-left: 10px;
}

@media (min-width: 992px) {
  .feather-home,
  .feather-shopping-cart,
  .feather-shopping-bag,
  .feather-user,
  .feather-monitor,
  .feather-plus {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .navbar-brand {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.8rem !important;
  }
}

.footer__container {
  height: 200px;
  background-color: #bdb6aa;
  text-align: center;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SoMe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.SoMe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SoMe {
  margin: 5px;
}

.hero__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  -webkit-filter: drop-shadow(4px 12px 12px rgba(189, 182, 170, 0.25));
          filter: drop-shadow(4px 12px 12px rgba(189, 182, 170, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.cta__container {
  background: rgba(216, 216, 216, 0.6);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(216, 216, 216, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  position: absolute;
  left: 50px;
  padding: 10px 5px 10px 5px;
  width: 40% !important;
  height: 80%;
}

.heroParagraph {
  width: 70%;
}

.heroBtn {
  width: 50%;
  font-size: 1.3rem !important;
  font-weight: 300 !important;
}

.heroBtn:hover {
  background-color: #f6f5f4 !important;
  color: #737164 !important;
}

.feather-star {
  margin: 0px 3px 5px 3px !important;
}

.spinner-border {
  position: absolute !important;
  top: 0;
  margin-top: 10px;
}

.heroHeading,
.headingMobile {
  color: #000000;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.headingMobile {
  display: none;
}

.hero__text--container {
  margin: auto !important;
  height: 150px;
}

.feather-award,
.feather-truck,
.feather-check-circle {
  margin-right: 15px;
}

.hero__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
}

.featuredSection {
  background-color: #ccc3b6;
  padding-top: 40px;
  padding-bottom: 50px;
}

.featuredHeading {
  font-weight: 300 !important;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.card-img-top {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0rem !important;
}

.card-text {
  font-size: 1.3rem;
}

.card-text-title {
  margin-bottom: 0;
}

.card-text-price {
  font-weight: 600;
}

.btn-primary {
  color: #000000 !important;
}

.btn-primary,
.btn-secondary {
  background-color: #f6f5f4 !important;
  border: solid 1px #737164 !important;
}

.btn-primary:hover {
  background-color: #737164 !important;
  border: solid 1px #737164 !important;
  color: #f6f5f4 !important;
}

.btn-secondary:hover {
  background-color: #737164 !important;
  color: #f6f5f4 !important;
}

.sliderSection {
  margin-top: 40px;
}

.carousel-inner {
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}

.slider-img {
  height: 600px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.carousel-caption {
  background: rgba(216, 216, 216, 0.7);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(216, 216, 216, 0.3);
}

.carousel-text {
  color: #000000;
}

.aboutSection {
  margin-top: 100px;
  margin-bottom: 50px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text--paragraph {
  font-size: 1.25rem;
  width: 70%;
}

@media (max-width: 1024px) {
  .heroHeading {
    font-size: 2.2rem;
  }
  .hero__text {
    font-size: 1.2rem;
  }
  .trust__text {
    font-size: 1rem;
  }
  .slider-img {
    height: 450px !important;
  }
}

@media (max-width: 768px) {
  .cta__container {
    width: 55% !important;
  }
  .card-img-top {
    height: 250px;
  }
  .trust__text {
    font-size: 0.9rem;
  }
  .slider-img {
    height: 350px !important;
  }
}

@media (max-width: 576px) {
  .hero__container {
    height: 400px;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cta__container {
    left: 0;
    width: 60% !important;
    height: auto;
    padding: 10px !important;
    position: relative;
  }
  .heroHeading {
    display: none;
  }
  .headingMobile {
    display: block;
    font-size: 1.7rem;
  }
  .heroBtn {
    height: 50px;
    width: 95%;
    font-size: 1.2rem !important;
    margin: auto;
  }
  .trust__text,
  .trust__stars,
  .heroParagraph {
    display: none;
  }
  .feather-star {
    width: 18px;
    height: 18px;
    margin: 0px 0px 5px 0px !important;
  }
  .card-img-top {
    height: 150px;
  }
  .hero__text--container {
    width: 80% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero__text {
    font-size: 1rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .feather-award,
  .feather-truck,
  .feather-check-circle {
    height: 20px;
    width: 20px;
    stroke-width: 1;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card-text {
    font-size: 1rem;
  }
  .hoverText_container {
    top: 40%;
  }
  .hoverText {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .slider-img {
    height: 300px !important;
  }
  .sliderSection {
    margin-top: 10px;
  }
  .aboutSection {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .about__text--paragraph {
    width: 90%;
    font-size: 1rem;
  }
}

.shopHeading {
  font-weight: 300;
}

.filter__container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  margin-top: 40px;
}

.searchInput {
  background: #f6f5f4;
  border: 2px solid #e6e7dc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 12px rgba(204, 195, 182, 0.25), inset 0px 4px 12px rgba(204, 195, 182, 0.3);
          box-shadow: 0px 4px 12px rgba(204, 195, 182, 0.25), inset 0px 4px 12px rgba(204, 195, 182, 0.3);
  border-radius: 2px;
}

.searchInput:focus {
  outline: solid 1px #737164 !important;
  -webkit-box-shadow: 0px 4px 12px #737164 !important;
          box-shadow: 0px 4px 12px #737164 !important;
}

.productsSection {
  margin-top: 20px;
}

.detailsSection {
  margin-top: 50px !important;
}

.details__img--container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.details__heading {
  font-weight: 600;
}

.details__price {
  font-size: 1.7rem;
}

.details__description {
  font-size: 1.2rem;
}

.addToCartBtn:hover {
  background-color: #f6f5f4 !important;
  color: #737164 !important;
}

.disabled {
  background-color: #f6f5f4 !important;
  color: #737164 !important;
  cursor: none;
}

.cartIcon {
  display: inline-block;
  margin-left: 5px;
}

.accordion__container {
  margin-top: 40px !important;
  padding: 0 !important;
}

.accordion {
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #bdb6aa !important;
}

.accordion-button:focus {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion-button::after {
  background-image: url(/img/arrow-down-circle.svg) !important;
}

@media (max-width: 1024px) {
  .details__img--container {
    height: 350px;
  }
  .details__description {
    font-size: 1rem;
  }
  .details__price {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .details__img--container {
    height: 250px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .details__container {
    margin: auto !important;
  }
  .details__price {
    font-size: 1.3rem;
  }
  .accordion__container {
    padding: 10px !important;
  }
}

.heading-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cartCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.cartCard-img {
  width: 45% !important;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.cartCard-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.removeBtn {
  border: none;
  background-color: transparent;
}

.feather-x-circle {
  display: block;
}

.totalPrice_container {
  border-left: solid 1px #737164;
  border-top: none;
}

.totalPrice {
  font-weight: 600;
}

@media (max-width: 768px) {
  .totalPrice_container {
    border-left: none;
    border-top: solid 1px #737164;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .cartCard-img {
    height: 200px;
    width: 35% !important;
  }
}

@media (max-width: 576px) {
  .cartCard-img {
    height: 100px;
    width: 35% !important;
  }
}

.login_container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.submitBtn {
  background-color: #737164 !important;
  color: #f6f5f4 !important;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.submitBtn:hover {
  background-color: #f6f5f4 !important;
  color: #000000 !important;
}

input,
textarea {
  background-color: rgba(230, 231, 220, 0.1) !important;
  border: 1px solid #737164 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 10px rgba(115, 113, 100, 0.25) !important;
          box-shadow: inset 0px 4px 10px rgba(115, 113, 100, 0.25) !important;
  border-radius: 2px;
  color: #000000;
}

.sub-menu {
  border-bottom: solid 1px #737164;
}

.table-container,
.sub-menu {
  margin-top: 40px;
}

thead {
  background-color: #bdb6aa !important;
}

tbody {
  background-color: #f6f5f4 !important;
}

.edit_container {
  margin-top: 20px;
}

.form-check {
  margin-bottom: 30px !important;
}

.form-check-input:checked {
  background-color: #737164 !important;
}
/*# sourceMappingURL=style.css.map */