.heading-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cartCard {
  display: flex;
  flex-direction: row !important;

  &__body {
    justify-content: space-evenly !important;
  }

  &__img {
    width: 45% !important;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.removeBtn {
  border: none;
  background-color: transparent;
}

.feather-x-circle {
  display: block;
}
.totalPrice_container {
  border-left: solid 1px $olive;
  border-top: none;
}

.totalPrice {
  font-weight: $semi-bold;
}

@media (max-width: 768px) {
  .totalPrice_container {
    border-left: none;
    border-top: solid 1px $olive;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }

  .cartCard__img {
    height: 200px;
    width: 35% !important;
  }
}

@media (max-width: 576px) {
  .cartCard__img {
    height: 100px;
    width: 35% !important;
  }
}
