.menu {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.04);
  width: 100%;
}

.navbar {
  background-color: $bgColor !important;
  margin-left: 50px;
  margin-right: 50px;
}

.active {
  opacity: 1;
}

.navbar-brand {
  font-family: $logoFont;
  font-weight: $light;
  color: $black !important;
  font-size: 2.2rem !important;
  background: rgb(167, 55, 55);
  background: linear-gradient(
    0deg,
    rgba(167, 55, 55, 1) 0%,
    rgba(122, 40, 40, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.loginBtn {
  font-size: 1.2rem;
  opacity: 0.6;
}

.loginBtn:hover {
  opacity: 1;
  cursor: pointer;
}

.feather-home,
.feather-shopping-cart,
.feather-shopping-bag,
.feather-user {
  margin-left: 10px;
}

@media (min-width: 992px) {
  .feather {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .navbar-brand {
    text-align: center;
  }
}
