.hero__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  filter: drop-shadow(4px 12px 12px rgba(189, 182, 170, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.cta__container {
  background: rgba(216, 216, 216, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(216, 216, 216, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: absolute;
  right: 0px;
  padding: 10px 5px 10px 5px;
  width: 40% !important;
  height: 100%;
}

.ctaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroParagraph {
  width: 70%;
}

.heroBtn {
  width: 50%;
  font-size: 1.3rem !important;
  font-weight: $light;
  border: solid 1px $black !important;
  background-color: $bgColor !important;
}

.heroBtn:hover {
  background-color: $olive !important;
  color: $bgColor !important;
}

.feather-star {
  margin: 0px 3px 5px 3px !important;
}

.spinner-border {
  position: absolute !important;
  top: 0;
  margin-top: 10px;
}

.heroHeading,
.headingMobile {
  color: $black;
  font-weight: $light;
  font-size: 2.8rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 15px 20px rgba(0, 0, 0, 0.1);
}

.headingMobile {
  display: none;
}

.heroMobile {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroParagraph,
.heroBtn {
  margin: 0;
}

.review {
  height: fit-content;
  padding: 40px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: auto !important;
    padding: 20px;
  }

  &__text {
    font-size: 1.1rem;
  }

  &__person {
    font-weight: $semi-bold;
  }
}

.featuredSection {
  background-color: $gather;
  padding-top: 40px;
  padding-bottom: 50px;
}

.featuredHeading {
  font-weight: $light !important;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem !important;
}

.card-text {
  font-size: 1.3rem;
}

.card-text-title {
  margin-bottom: 0;
}

.card-text-price {
  font-weight: $semi-bold;
}

.btn-primary {
  color: $black !important;
}

.btn-primary,
.btn-secondary {
  background-color: $bgColor !important;
  border: solid 1px $olive !important;
}

.btn-primary:hover {
  background-color: $olive !important;
  border: solid 1px $olive !important;
  color: $bgColor !important;
}

.btn-secondary:hover {
  background-color: $olive !important;
  color: $bgColor !important;
}

.sliderSection {
  margin-top: 40px;
}

.carousel-inner {
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}

.slider-img {
  height: 600px !important;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  background: rgba(216, 216, 216, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(216, 216, 216, 0.3);
}

.carousel-text {
  color: $black;
}

.aboutSection {
  margin-top: 100px;
  margin-bottom: 50px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about__text--paragraph {
  font-size: 1.25rem;
  width: 70%;
}

@media (max-width: 1024px) {
  .heroHeading {
    font-size: 2.2rem;
  }

  .trust__text {
    font-size: 1rem;
  }

  .slider-img {
    height: 450px !important;
  }
}

@media (max-width: 768px) {
  .cta__container {
    width: 55% !important;
  }
  .card-img-top {
    height: 250px;
  }

  .trust__text {
    font-size: 0.9rem;
  }

  .slider-img {
    height: 350px !important;
  }
}

@media (min-width: 576px) {
  .trust__stars--mobile,
  .heroParagraph__mobile,
  .trust__text--mobile,
  .heroMobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero {
    margin-top: -10px;
  }

  .hero__container {
    height: 450px;
    margin: auto;
    justify-content: space-evenly;
  }

  .cta__container {
    left: 0;
    width: 60% !important;
    height: auto;
    padding: 20px !important;
    position: relative;
    background: transparent;
    backdrop-filter: none;
    border: none;
  }

  .heroHeading {
    display: none;
  }

  .headingMobile {
    display: block;
    font-size: 2rem;
    color: $bgColor;
  }

  .heroBtn {
    height: 45px;
    width: 100%;
    font-size: 1.2rem !important;
    margin: auto;
  }

  .trust__text,
  .trust__stars,
  .heroParagraph {
    display: none;
  }

  .heroMobile {
    height: 250px;
    flex-direction: column;
    text-align: center;
  }

  .trust__stars--mobile {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .feather-star {
    width: 18px;
    height: 18px;
    margin: 0px 0px 5px 0px !important;
  }

  .card-img-top {
    height: 150px;
  }

  .card-text {
    font-size: 1rem;
  }

  .slider-img {
    height: 300px !important;
  }

  .sliderSection {
    margin-top: 10px;
  }

  .aboutSection {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .about__text--paragraph {
    width: 90%;
    font-size: 1rem;
  }
}
