.hero__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  filter: drop-shadow(4px 12px 12px rgba(189, 182, 170, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.heroHeading {
  color: $black;
  font-weight: $light;
  font-size: 2.7rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 15px 20px rgba(0, 0, 0, 0.1);
}

.hero__text--container {
  height: 150px;
  margin: auto !important;
}

.hero__text {
  font-family: $sans-serif;
  font-weight: $regular;
  font-size: 1.7rem;
  text-align: center;
}

.featuredSection {
  background-color: $gather;
  padding-top: 40px;
  padding-bottom: 50px;
}

.featuredHeading {
  font-weight: $light !important;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  border: 2px solid #737164;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  opacity: 1;
  transition: 0.5 ease;
  backface-visibility: hidden;
}

.card:hover .card-img-top {
  opacity: 0.4;
  cursor: pointer;
}

.card:hover .hoverText_container {
  opacity: 1;
  cursor: pointer;
}

.hoverText_container {
  transition: 0.5 ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem !important;
}

.card-text {
  font-size: 1.3rem;
}

.card-text-title {
  font-weight: $semi-bold;
  margin-bottom: 0;
}

.aboutSection {
  margin-top: 100px;
  margin-bottom: 50px;
}

.about__text--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about__text--paragraph {
  font-size: 1.3rem;
}

.about__img1 {
  background-image: url("/img/kam-idris-_HqHX3LBN18-unsplash_11zon.jpg");
}

.about__img2 {
  background-image: url("/img/spacejoy-jfVTVARGCao-unsplash_11zon.jpg");
}

.about__img3 {
  background-image: url("/img/spacejoy-trG8989WjFA-unsplash_11zon.jpg");
}

.about__img4 {
  background-image: url("/img/spacejoy-vPKNB_gc23Q-unsplash-min.jpg");
}

.about__img1,
.about__img2,
.about__img3,
.about__img4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border: solid 1px $olive !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .heroHeading {
    font-size: 2rem;
  }

  .hero__text {
    font-size: 1.2rem;
  }

  .about__text--paragraph {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .card-img-top {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .hero__container {
    height: 400px;
  }
  .card-img-top {
    height: 150px;
  }

  .heroHeading {
    font-size: 1.5rem;
  }

  .hero__text--container {
    width: 80% !important;
  }

  .hero__text {
    font-size: 1rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .hoverText_container {
    top: 40%;
  }

  .hoverText {
    font-size: 1.1rem;
    font-weight: $semi-bold;
  }

  .aboutSection {
    margin-top: 40px;
  }
  .about__text--paragraph {
    width: 90%;
  }

  .about__img4,
  .about__img3,
  .about__img2,
  .about__img1 {
    height: 150px;
  }
}
