* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $bgColor !important;
  overflow-x: hidden;
}

main {
  margin-top: 68px;
}

h1,
h2,
h3 {
  font-family: "Frank Ruhl Libre", serif;
}

p,
a,
li a,
label {
  font-family: "Montserrat", sans-serif;
  color: $black !important;
}

li a {
  font-size: 1.2rem;
  opacity: 0.6;
}

li a:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

a:checked {
  text-decoration: none;
  color: $black;
}

i {
  color: black;
}
