* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $bgColor !important;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Frank Ruhl Libre", serif;
}

p,
a,
li a {
  font-family: "Montserrat", sans-serif;
  color: $black !important;
}

li a {
  font-size: 1.2rem;
}

a {
  text-decoration: none !important;
}

i {
  color: black;
}
