* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $bgColor !important;
  overflow-x: hidden;
}

main {
  margin-top: 68px;
}

h1,
h2,
h3 {
  font-family: "Frank Ruhl Libre", serif;
}

p,
a,
li a,
label,
th,
td {
  font-family: "Montserrat", sans-serif;
  color: $black !important;
}

ul li {
  text-decoration: none;
  list-style: none;
}

li a {
  font-size: 1.2rem;
  opacity: 0.6;
}

li a:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

a:checked {
  text-decoration: none;
  color: $black;
}

i {
  color: black;
}

.primary-btn {
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: $olive !important;
  color: $bgColor !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border: solid 1px $olive !important;
  padding: 10px 30px 10px 30px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: $semi-bold !important;
}
