$bgColor: #f6f5f4;
$olive: #737164;
$patioGreen: #e6e7dc;
$gather: #ccc3b6;
$shiplap: #bdb6aa;
$black: #000000;
$red: #b65242;

$serif: "Frank Ruhl Libre", serif;
$sans-serif: "Montserrat", sans-serif;
$logoFont: "MuseoModerno", cursive;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
